<div>
  <h1>{{ $t("message.volunteeringRegistration.title") }}</h1>
  <b-container fluid v-if="submitted">
    <b-alert variant="success" show>{{ $t('message.volunteeringRegistration.submitted') }}</b-alert>
  </b-container>
  <b-container fluid v-if="!submitted">
    <b-row>
      <b-col sm="4"><label class="required">{{ $t('message.volunteeringRegistration.forms.name') }}</label></b-col>
      <b-col sm="8">
        <b-form-input type="text" v-model="formContent.name" :placeholder="$t('message.volunteeringRegistration.forms.name')"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4"><label class="required">{{ $t('message.volunteeringRegistration.forms.mail') }}</label></b-col>
      <b-col sm="8">
        <b-form-input type="text" v-model="formContent.mail" :placeholder="$t('message.volunteeringRegistration.forms.mail')"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4"><label class="required">{{ $t('message.volunteeringRegistration.forms.phone') }}</label></b-col>
      <b-col sm="8">
        <b-form-input type="text" v-model="formContent.phone" :placeholder="$t('message.volunteeringRegistration.forms.phone')"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12">
        <h3>{{$t('message.volunteeringRegistration.forms.volunteeringOptions')}}</h3>
        <div class="form-check volunteering-option" v-for="(option, index) in options.volunteering">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" v-model="formContent.volunteering" :value="option.value"> {{ $t('message.volunteeringRegistration.forms.volunteering.' + option.value + ".title") }}
          </label><div class="details">{{ $t('message.volunteeringRegistration.forms.volunteering.' + option.value + ".details") }}</div>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12">
        <h3>{{$t('message.volunteeringRegistration.forms.availabilitiesOptions')}}</h3>
        <div class="details">{{$t('message.volunteeringRegistration.forms.availabilitiesDetails')}}</div>
        <div class="form-check" v-for="(option, index) in options.availabilities">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" v-model="formContent.availabilities" :value="option.value"> {{ $t('message.volunteeringRegistration.forms.availabilities.' + option.value) }}
          </label>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12">
        <h3>{{$t('message.volunteeringRegistration.forms.licencesOptions')}}</h3>
        <div class="details">{{$t('message.volunteeringRegistration.forms.licencesDetails')}}</div>
        <div class="form-check form-check-inline" v-for="(option, index) in options.licences">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" v-model="formContent.licences" :value="option.value"> {{ $t('message.volunteeringRegistration.forms.licences.' + option.value) }}
          </label>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4"><label>{{ $t('message.volunteeringRegistration.forms.comment') }}</label></b-col>
      <b-col sm="8">
        <b-form-textarea id="comments"
                     v-model="formContent.comments"
                     :placeholder="$t('message.volunteeringRegistration.forms.comment')"
                     :rows="3"
                     :max-rows="6">
                  </b-form-textarea>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12" class="submit">
         <b-button :disabled="!isFormValid()" @click="submit()" variant="success">{{ $t('message.volunteeringRegistration.forms.submit') }}</b-button>
      </b-col>
    </b-row>

  </b-container>
</div>
