/* @import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600'); */


html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Lato, Helvetica !important;
}
.top-content {
  background-image: url('../../assets/bg-005.png.jpg'), linear-gradient(to bottom, rgba(211, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 55%);
}

.top-content,
.part {
  background-repeat: no-repeat;
  background-position:  center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% ;
  width:100%;
  height: 100%;
  display: flex;
}
.top-content {
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.header {
  margin: -40px;
  float: left;
  clear:none;

}
.header-img {
  display: block;
  text-align: right;
  padding: 20px;
  text-align: center;
  width: 100%;
}
h1 {
  font-variant: small-caps;
}
.top-content .label {
  color:rgba(211, 255, 255, 1);
  background: rgba(104, 141, 157, 0.9);
  border-top: rgba(230, 255, 255, 1) solid 1px;
  border-bottom: rgba(230, 255, 255, 1) solid 1px;
}

.header ul {
  margin-left: 0px;
  padding-left: 0px;
}
.header ul li {
  float: left;
  list-style: none;
  font-size: 140%;
  padding: 40px 20px 20px 20px;
  font-variant: small-caps;
  max-height: 80px;
}
.header ul li a {
  color:rgba(104, 141, 157, 1);
  text-decoration: none;
  font-weight: 300;
  font-variant: small-caps;
}
.header ul li a.languageSwitch {
  font-style: italic;
  font-weight: 400;
  font-size: 70%;
}


.top-content .label{
  margin-top:40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.label{
  width: 100%;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}
.label h1 {
  letter-spacing: 10px;
  font-size: 240%;
  font-weight: 100;
}
.label h2 {
  margin-top: 20px;
  font-size: 180%;
  font-weight: 100;
}
.label h3 {
  margin-top: 20px;
  font-size: 150%;
  font-weight: 100;
}

.content {
  padding:40px;
  margin-top: -40px;
  margin-bottom: -40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40px, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow: auto;
  width: 100%;
  min-height: 100%;
}

.content>div {
  width: 100%;
}

.content h1 {
  font-size: 160%;
  font-weight: 200;
  margin: 30px 0px 30px 0px;
  font-weight: 100;
  font-size: 260%;
  text-align: center;
  text-transform: uppercase;
    color: rgba(104, 141, 157, 1);
}

.part-end {
  background-image: url('../../assets/end-02.png.jpg');
}
.part-end .label {
  color:rgba(0, 0, 0, 1);
  background: rgba(219, 233, 230, 0.9);
  border-top: rgba(0, 134, 0, 1) solid 1px;
  border-bottom: rgba(0, 134, 0, 1) solid 1px;
}
.social a i {
  font-size: 40px;
  color:#000;
  margin: 0 5px;
  text-decoration: none;
}
.social
{
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.container-fluid .row {
  padding-bottom: 20px;
}


.submit {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

}

.sponsor {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.sponsor img {
  clear: both;
}


.total {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}


.b-container h2 {
  color: rgba(104, 141, 157, 1) !important;
  font-weight: 300 !important;
  text-transform: uppercase;
}

.required::after {
    content: "*";
    color: rgba(255, 0, 0, 1)
}
.expected::after {
    content: "*";
    color: rgba(0, 255, 0, 1)
}
