<div>
  <h1>{{ $t("message.teamsRegistration.title") }}</h1>
  <b-container fluid v-if="submitted">
    <b-row>
      <b-col sm="12"><b-alert show>{{ $t('message.teamsRegistration.submitted') }}</b-alert></b-col>
    </b-row>
  </b-container>
  <b-container fluid v-if="!submitted">
    <b-row>
      <b-col sm="12"><h2>{{ $t('message.teamsRegistration.forms.section.club') }}</h2></b-col>
    </b-row>
    <b-row>
      <b-col sm="4"><label class="required">{{ $t('message.teamsRegistration.forms.club.name') }}</label></b-col>
      <b-col sm="8">
        <b-form-input type="text" v-model="formContent.club.name" :placeholder="$t('message.teamsRegistration.forms.club.name')"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4"><label class="required">{{ $t('message.teamsRegistration.forms.club.address') }}</label></b-col>
      <b-col sm="8">
        <b-form-input type="text" v-model="formContent.club.address" :placeholder="$t('message.teamsRegistration.forms.club.address')"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4"><label class="required">{{ $t('message.teamsRegistration.forms.club.link') }}</label></b-col>
      <b-col sm="8">
        <b-form-input type="text" v-model="formContent.club.link" :placeholder="$t('message.teamsRegistration.forms.club.link')"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4"><label>{{ $t('message.teamsRegistration.forms.club.mail') }}</label></b-col>
      <b-col sm="8">
        <b-form-input type="text" v-model="formContent.club.mail" :placeholder="$t('message.teamsRegistration.forms.club.mail')"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12"><h2>{{ $t('message.teamsRegistration.forms.section.contact') }}</h2></b-col>
    </b-row>
    <b-row>
      <b-col sm="4"><label class="required">{{ $t('message.teamsRegistration.forms.contact.name') }}</label></b-col>
      <b-col sm="8">
        <b-form-input type="text" v-model="formContent.contact.name" :placeholder="$t('message.teamsRegistration.forms.contact.name')"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4"><label class="required">{{ $t('message.teamsRegistration.forms.contact.mail') }}</label></b-col>
      <b-col sm="8">
        <b-form-input type="text" v-model="formContent.contact.mail" :placeholder="$t('message.teamsRegistration.forms.contact.mail')"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4"><label class="required">{{ $t('message.teamsRegistration.forms.contact.phone') }}</label></b-col>
      <b-col sm="8">
        <b-form-input type="text" v-model="formContent.contact.phone" :placeholder="$t('message.teamsRegistration.forms.contact.phone')"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12"><h2>{{ $t('message.teamsRegistration.forms.section.coaches') }}</h2></b-col>
    </b-row>
    <b-row>
      <b-col sm="4"><label>{{ $t('message.teamsRegistration.forms.quantity') }}</label></b-col>
      <b-col sm="8">
        <b-form-input type="text" v-model="formContent.coaches" :placeholder="$t('message.teamsRegistration.forms.quantity')"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12"><h2>{{ $t('message.teamsRegistration.forms.section.boats') }}</h2></b-col>
    </b-row>
    <b-row>
      <b-col sm="3">
        <h4 class="expected">{{$t('message.teamsRegistration.forms.boats.uniEight')}}</h4>
        <b-form-input type="number" v-model="formContent.boats.uniEight" @change="updateCrews('uniEight')" :placeholder="$t('message.teamsRegistration.forms.quantity')"></b-form-input>
      </b-col>
      <b-col sm="3">
        <h4 class="expected">{{$t('message.teamsRegistration.forms.boats.uniQuad')}}</h4>
        <b-form-input type="number" v-model="formContent.boats.uniQuad" @change="updateCrews('uniQuad')" :placeholder="$t('message.teamsRegistration.forms.quantity')"></b-form-input>
      </b-col>
      <b-col sm="3">
        <h4 class="expected">{{$t('message.teamsRegistration.forms.boats.masterQuad')}}</h4>
        <b-form-input type="number" v-model="formContent.boats.masterQuad" @change="updateCrews('masterQuad')" :placeholder="$t('message.teamsRegistration.forms.quantity')"></b-form-input>
      </b-col>
      <b-col sm="3">
        <h4 class="expected">{{$t('message.teamsRegistration.forms.boats.masterFour')}}</h4>
        <b-form-input type="number" v-model="formContent.boats.masterFour" @change="updateCrews('masterFour')" :placeholder="$t('message.teamsRegistration.forms.quantity')"></b-form-input>
      </b-col>
    </b-row>
    <b-row v-if="areCrewsSpecified()">
      <b-col sm="12">
        <h2>{{ $t('message.teamsRegistration.forms.section.composition') }}</h2>
        <b-container fluid v-for="(crew, index) in getCrews()">
          <b-row>
            <b-col sm="12">
              <h3>{{$t('message.teamsRegistration.forms.boats.'+crew.type)}}</h3>
            </b-col>
          </b-row>
          <b-row v-for="(n, i) in crew.size">
            <b-col sm="1">
              {{n}}
            </b-col>
            <b-col sm="3">
              <b-form-input type="text" v-model="formContent.composition[crew.type][crew.id].athletes[i].name" :placeholder="$t('message.teamsRegistration.forms.composition.name')"></b-form-input>
            </b-col>
            <b-col sm="3">
              <b-form-input type="text" v-model="formContent.composition[crew.type][crew.id].athletes[i].birthdate" :placeholder="$t('message.teamsRegistration.forms.composition.birthdate')"></b-form-input>
            </b-col>
            <b-col sm="1">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" v-model="formContent.composition[crew.type][crew.id].athletes[i].sex" type="radio" value="F"> {{$t('message.teamsRegistration.forms.composition.sex.f')}}
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" v-model="formContent.composition[crew.type][crew.id].athletes[i].sex" type="radio" value="M"> {{$t('message.teamsRegistration.forms.composition.sex.m')}}
                </label>
              </div>
            </b-col>
            <b-col sm="2">
              <b-form-input type="text" v-model="formContent.composition[crew.type][crew.id].athletes[i].licence" :placeholder="$t('message.teamsRegistration.forms.composition.licence')"></b-form-input>
            </b-col>
            <b-col sm="2">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" v-model="formContent.composition[crew.type][crew.id].athletes[i].noLicence" type="checkbox" value="noLicence"> {{$t('message.teamsRegistration.forms.composition.noLicence')}}
                </label>
              </div>
            </b-col>
          </b-row>
        </b-container>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12" class="submit">
         <b-button :disabled="!isFormValid()" @click="submit()" variant="success">{{ $t('message.galaRegistration.forms.submit') }}</b-button>
      </b-col>
    </b-row>
  </b-container>
</div>
